body {
    font-family: Arial, sans-serif;
    background: url('images/clouds-landscape-sky-preview.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 10px;
}

header h1 {
    margin: 0;
    color: orange;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px 130px;
    background-color: white;
    color: #ff6600;
    text-decoration: none;
     border-left: 2px solid #ff6600;
border-right: 2px solid #ff6600;
    border-radius: 0;
    margin-left: -2px;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: #ff6600;
    color: white;
}

nav ul li a.active {
    background-color: #ff6600;
    color: white;
}


main {
    text-align: center;
    margin: 20px;
}

.content-wrapper {
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid #ccc;
    padding: 20px;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    padding-bottom: 180px;
    max-width: 1200px;

}

form {
    margin-bottom: 20px;
}

#city {
    padding: 5px;
    margin-left: 10px;
}

#weatherFrame {
    width: 40%;
    height: 600px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

footer {
    text-align: center;
    padding: 10px;
    color: orange;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
}
